@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body, html {
  background-color: #000000;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 25px;
}
