@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body, html {
  background-color: #000000;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 25px;
}

.middle {
  position: absolute;
  margin-left: 690px;
  margin-top: 230px;
  color: white;
  z-index: 10;
  font-family: 'Open Sans', sans-serif;
}
    
