@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body, html {
  background-color: #000000;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

#time {
  position: absolute;
  margin-left: 730px;
  margin-top: 475px;
}

h1 {
  font-size: 30px;
  text-decoration: none;
}

h1:hover span {display:none}
h1:hover:before {content:"i hijacked the website guys"}

h2 {
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

h3 {
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

.middle {
  position: absolute;
  margin-left: 715px;
  margin-top: 420px;
  color: white;
  z-index: 10;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

.middle2 {
  position: absolute;
  margin-left: 805px;
  margin-top: 463px;
  color: white;
  z-index: 10;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

.middle3 {
  position: absolute;
  margin-left: 640px;
  margin-top: 0px;
  color: white;
  z-index: 10;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

.projects {
  position: absolute;
  margin-left: 640px;
  margin-top: 0px;
  color: white;
  z-index: 10;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

a { color: inherit; text-decoration: none; }
